@use "../../app/styles/variables" as var;
@use "../../app/styles/fonts";

.results {
  margin: 0 auto;
  max-width: 1440px;
  padding: clamp(1.25rem, 0.136rem + 5.57vw, 4.313rem)
    clamp(0rem, -0.977rem + 4.89vw, 2.688rem)
    clamp(3.563rem, 2.381rem + 5.91vw, 6.813rem)
    clamp(0.875rem, -0.261rem + 5.68vw, 4rem);
  & .hero {
    display: flex;
    justify-content: space-between;
    & .title {
      width: 509px;
      font-family: fonts, "Ferry", sans-serif;
      font-weight: 900;
      font-size: clamp(1.75rem, 1.477rem + 1.36vw, 2.5rem);
      letter-spacing: 0.04em;
    }
    & .text {
      width: 447px;
      margin-top: 46px;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.02em;
    }
  }
  & .generaSummary {
    & .title {
      font-family: fonts, "Ferry", sans-serif;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: 0.02em;
    }
    & .text {
      margin-top: 17px;
      margin-bottom: 27px;
      font-size: 18px;
      letter-spacing: 0.02em;
      color: var.$color-gray;
    }
  }
  & .buttonWrapper {
    text-align: center;
    & .button {
      margin-top: 38px;
      padding: 16px 0;
      width: 305px;
      border-radius: 5px;
      background-color: var.$color-purple;
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 0.04em;
      color: var.$color-white;
    }
  }
}
