@use "../../../app/styles/variables" as var;
@use "../../../app/styles/fonts";

.formSearch {
  display: flex;
  gap: 11px;
  width: clamp(23.438rem, 12.142rem + 56.48vw, 54.5rem);
  padding: 21px 39px 74px 44px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: var.$color-white;
  @media only screen and (max-width: 1180px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
