@use "../../../app/styles/variables" as var;
@use "../../../app/styles/fonts";

.tarifs {
  margin-top: clamp(5rem, 4.518rem + 2.41vw, 6.688rem);
  font-size: 18px;
  letter-spacing: 0.01em;
  & .title {
    font-weight: 900;
    font-size: clamp(1.75rem, 1.446rem + 1.52vw, 2.813rem);
    font-family: fonts, "Ferry", sans-serif;
  }
  & .cards {
    margin-top: clamp(2.313rem, 1.723rem + 2.95vw, 4.375rem);
    display: flex;
    justify-content: center;
    gap: 38px;
    & .card {
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      background-color: var.$color-white;
      width: 100%;
    }
    & .card__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px 10px 0 0;
      padding: 30px 15px 34px 25px;
      height: 132px;
      & .card__top-content {
        & .card__top-title {
          font-weight: 500;
          font-size: 30px;
        }
        & .card__top-text {
          margin-top: 10px;
        }
      }
    }
    & .card__bottom {
      padding: 12px 10px 24px 30px;
      & .card__bottom-content {
        display: flex;
        align-items: center;
        gap: 19px;
        & .card__bottom-price {
          font-weight: 500;
          font-size: 30px;
        }
        & .card__bottom-priceThrough {
          font-weight: 500;
          font-size: 25px;
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
      & .card__bottom-priceCredit {
        margin-top: 10px;
      }
      & .card__bottom-list {
        margin-top: 59px;
        & .card__bottom-listTitle {
          font-weight: 500;
          font-size: 20px;
        }
        & .card__bottom-listItemsWrapper {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          & .card__bottom-listItems {
            display: flex;
            gap: 8px;
          }
        }
      }
      & .card__bottom-buttonWrapper {
        display: flex;
        align-items: center;
        & ::before {
          content: "";
          position: absolute;
          height: 150px;
          width: 50px;
          background: #fff;
          left: -100px;
          top: -40px;
          transform: rotate(37deg);
          transition: all 1s ease;
          opacity: 0.3;
        }
        & :hover::before {
          left: 110%;
        }
        & .card__bottom-button {
          margin-top: 55px;
          margin-right: 20px;
          border-radius: 5px;
          background-color: var.$color-purple;
          padding: 18px 0;
          width: 100%;
          font-size: 20px;
          color: var.$color-white;
          position: relative;
          overflow: hidden;
        }
      }
    }
  }
}
