@use "../../../app/styles/variables" as var;
@use "../../../app/styles/fonts";

.hero {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.01em;
  & .content {
    & .title {
      font-weight: 900;
      font-size: clamp(1.75rem, 1.179rem + 2.86vw, 3.75rem);
      font-family: fonts, "Ferry";
    }
    & .text {
      font-size: 20px;
      margin-top: 20px;
    }
    & .button {
      padding: 14px 64px;
      margin-top: clamp(2rem, 1.321rem + 3.39vw, 4.375rem);
      border-radius: 5px;
      background-color: var.$color-purple;
      color: var.$color-white;
      font-weight: 500;
      font-size: 22px;
      cursor: pointer;
    }
  }
  & .image {
    width: 100%;
  }
}
