@use "../../../app/styles/variables" as var;
@use "../../../app/styles/fonts";

.slider {
  margin-top: clamp(3.438rem, 2.473rem + 4.82vw, 6.813rem);
  & .title {
    margin-bottom: clamp(2rem, 1.321rem + 3.39vw, 4.375rem);
    font-weight: 900;
    font-size: clamp(1.75rem, 1.446rem + 1.52vw, 2.813rem);
    letter-spacing: 0.01em;
    font-family: fonts, "Ferry", sans-serif;
  }
  & .slide {
    height: 225px;
    padding: 30px 25px 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: var.$color-white;
    & .text {
      margin-top: 19px;
      font-size: 18px;
      letter-spacing: 0.01em;
    }
  }
  & .image {
    width: 100%;
    margin-top: 70px;
  }
}
