@use "../../app/styles/fonts";
@use "../../app/styles/variables" as var;

.header {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 375px) {
  .header {
    padding: 9px 26px 14px;
  }
}
